ion-grid,
ion-row {
  height: 100%;
}

.login-header,
.login-background {
  background-color: #e6e6e6;
  color: #000;
}

.logo {
  max-width: 240px;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}
