<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-card-title>
        <div style="margin-bottom: 16px">Tank Cleaning Services</div>
        <img class="logo" src="./../../assets/clean3.webp" alt="Purity_Tank_Cleaners" />
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        Our company offers cleaning services for underground water tanks for reasonable rates. Contact for details.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-text-center" style="margin: 0">
          <ion-card-content>
            <ion-card-title>
              <img class="logo" src="./../../assets/clean.jpeg" alt="Purity_Tank_Cleaners" />
            </ion-card-title>
            <p>
              <app-loader [isLoading]="isLoading"></app-loader>
              Our company offers cleaning services for underground water tanks for reasonable rates. Contact for
              details.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center" style="margin: 0">
          <ion-card-content>
            <ion-card-title>
              <img class="logo" src="./../../assets/clean1.webp" alt="Purity_Tank_Cleaners" />
            </ion-card-title>
            <p>
              <app-loader [isLoading]="isLoading"></app-loader>
              Our company offers cleaning services for underground water tanks for reasonable rates. Contact for
              details.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-text-center" style="margin: 0">
          <ion-card-content>
            <ion-card-title>
              <img class="logo" src="./../../assets/clean2.webp" alt="Purity_Tank_Cleaners" />
            </ion-card-title>
            <p>
              <app-loader [isLoading]="isLoading"></app-loader>
              Our company offers cleaning services for underground water tanks for reasonable rates. Contact for
              details.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center" style="margin: 0">
          <ion-card-content>
            <ion-card-title>
              <img class="logo" src="./../../assets/clean1.webp" alt="Purity_Tank_Cleaners" />
            </ion-card-title>
            <p>
              <app-loader [isLoading]="isLoading"></app-loader>
              Our company offers cleaning services for underground water tanks for reasonable rates. Contact for
              details.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
